@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --background-main: #ffffff;
    --background-primary: #ce940e;
    --background-secondary: #0b0b0b;
    --background-tertiary: #d3d3d3;
    --background-accent: #f2f2f2;
    --background-compliment: #281b15;
    --background-muted: #4f4e4e;
    
    --background-gradient-main: linear-gradient(315deg, #4f4e4e 3%, #281b15 38%, #0b0b0b 68%, #76694b 100%);
    --background-gradient-primary: linear-gradient(195deg,#e4bb59,#ce940e);

    --color-primary: #ce940e;
    --color-secondary: #0b0b0b;
    --color-tertiary: #d3d3d3;
    --color-accent: #f2f2f2;
    --color-compliment: '';
    --color-gradient: '';
    --color-muted: '';
    --color-link: '';
    --color-link-transparent: '';

    --color-success: #4ea861;
    --color-warning: #d45c5c;
    --color-error: '';
    --color-highlight: '';
    --color-white: #ffffff;

    --gradient-start: '';
    --gradient-end: '';

    --border-pricardmary: #ce940e;
    --border-secondary: #0b0b0b;
    --border-tertiary: #d3d3d3;
    --border-accent: #f2f2f2;
    --border-highlight: '';

    --shadow-dark: '';
    --shadow-light: '';
    --shadow-text: '';

    --padding-small: 1rem;
    --padding-large: 2rem;

    --border-radius-small: 0.65rem;
    --border-radius-large: 2rem;
    --border-radius-extra-large: 3rem;
    --highlight-border-radius: 0.5rem;

    --text-selection: '';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: var(--background-accent) no-repeat fixed;
    color: var(--color-secondary);
    font-size: 0.875rem;
    line-height: 1.6rem;
    font-family: "Saira", sans-serif;
    line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  width: fit-content;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.2rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.header {
  position: absolute;
  width: 84vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0 0.5rem !important;
  margin: 1rem 8vw;
  background-color: transparent;
  z-index: 1000;
}

.header h1 {
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--color-white);
  padding-left: 1vw;
}

.header p {
  font-size: 0.6rem;
  color: var(--color-white);
  line-height: 0.7rem;
  padding-left: 1vw;
}

.header .user-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-white);
}

.header .user-info .user-email {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 9vw !important;
  background-color: var(--background-secondary);
  color: var(--color-white);
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 9vw !important;
  margin: 0;
  padding-top: 6rem !important;
  color: var(--color-white);
  width: 100% !important;
  min-height: 80vh;
  overflow: auto;
  background: var(--background-gradient-main);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.hero h1 {
  line-height: 3.5rem;
  text-align: center;
}

.hero h3 {
  line-height: 3rem;
}

.hero .benefits-list p {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.6rem;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.info-section {
  border: 1px solid var(--border-pricardmary) !important;
  border-radius: var(--border-radius-large);
  padding: 1.5rem;
  background-color: var(--background-primary);
}

.info-section h3 {
  line-height: 3rem;

}

.form-section {
  margin: -5rem 6vw 2rem 6vw;
}

.stats-section,
.history-section {
  margin: 2rem 6vw;
}

.form-section,
.stats-section,
.history-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start !important;
  gap: 1.5rem;
  background-color: var(--background-main);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  color: var(--color-secondary);
  padding: 2.5rem 4vw;
  z-index: 1000;
}

.form-section .form-header,
.stats-section .stats-header,
.history-section .history-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-section .coffee-grid,.stats-section .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
}

.form-section .time-entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  width: 100%;
}

.stats-section h4 {
  margin-top: 2rem;
  padding: 0;
  line-height: 1.2rem;
}

.history-section .coffee-history {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.coffee-history i:hover {
  color: var(--background-primary);
  transition: all 0.3s ease;
}

.col-span-2 {
  grid-column: span 2;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  background: var(--color-white);
  background: var(--background-gradient-primary);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid var(--border-pricardmary);
  border-radius: var(--border-radius-small);
  padding: 2rem;
  color: var(--color-secondary);
  overflow: hidden;
  z-index: 1;
}

.card-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--background-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.22);
  color: var(--color-white);
  overflow: auto;
  z-index: 1;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stat-text {
  font-size: 2rem;
  font-weight: 700;
}

.btn, .btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Saira", sans-serif;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn {
  flex-direction: row;
  padding: 0.54rem 1.2rem;
  border: 1px solid;
  border-radius: var(--border-radius-small);
}

.btn-card {
  padding: 1.3rem 2rem;
  padding: 0.8rem 1.5rem;
  justify-content: start;
  gap: 1rem;
  font-weight: 500;
  background: var(--color-white);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  color: var(--color-secondary);
  overflow: hidden;
  z-index: 1;
}

.btn-card:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
  opacity: 0.9;
}

.btn-card-selected {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-card-icon {
  font-size: 1rem;
}

.btn-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  font-size: 0.7rem;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: var(--border-pricardmary);
  color: var(--color-primary);
}

.btn-outline-primary:hover {
  background-color: var(--background-primary);
  color: var(--color-white);
}

.btn-primary {
  background-color: var(--background-primary);
  border-color: var(--border-pricardmary);
  color: var(--color-white);
}

.btn-primary:hover {
  opacity: 0.9;
}

input, select, textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--background-main);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  font-family: "Saira", sans-serif;
  font-size: 1rem;
  color: var(--color-secondary);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: var(--border-pricardmary);
}

table {
  width: 100% !important;
  border-collapse: collapse;
}

table thead {
  background-color: var(--background-secondary);
  color: var(--color-white);
}

table thead th {
  font-weight: 500;
  padding: 0.8rem 1rem !important;
}

table th, table td {
  text-align: left;
  line-height: 1.2rem;
}

table td {
  padding: 1rem;
  background: var(--background-main);
  border-bottom: 1px solid var(--border-tertiary);
  color: var(--color-secondary);
}

.modal-container {
  width: 90%;
  max-width: 520px;
  background-color: var(--background-main);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  padding: 2rem;
  box-shadow: 0 14px 16px -1px rgba(0,0,0,.1), 0 12px 14px -1px rgba(0,0,0,.06);
}

.modal-underlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--background-main);
}

.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  z-index: 1000;
}

.btn-link {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  margin: 0 0.3rem;
  cursor: pointer;
}

.btn-link-primary {
  color: var(--color-primary);
}

.error-card {
  background-color: var(--color-warning);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-small);
  align-self: center;
}

.text-center {
  text-align: center;
  margin-bottom: 1rem;
}

/* tablets */
@media (max-width: 900px) {
  .header {
    width: 92vw;
    margin: 2vw 4vw;
  }

  .form-section .coffee-grid, .stats-section .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* phones */
@media (max-width: 500px) {
  .header {
    width: 100vw;
    padding: 0 4vw !important;
    margin: 0;
    border-radius: 0;
  }
  .form-section .coffee-grid, .stats-section .stats-grid {
    grid-template-columns: 1fr;
  }

  .col-span-2 {
    grid-column: span 1;
  }

  .header .user-info .user-email {
    display: none !important;
  }
}
