@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --background-main: #ffffff;
    --background-primary: #748ef5;
    --background-secondary: #0b0b0b;
    --background-tertiary: #d3d3d3;
    --background-accent: #f2f2f2;
    --background-compliment: #f7a10d;
    --background-muted: #464646;
    
    --background-gradient-main: linear-gradient(35deg, #4f63b0, #748ef5);;

    --color-primary: #748ef5;
    --color-secondary: #0b0b0b;
    --color-tertiary: #d3d3d3;
    --color-accent: #f3f3f3;
    --color-compliment: #f7a10d;
    --color-gradient: '';
    --color-muted: #464646;
    --color-link: '';
    --color-link-transparent: '';

    --color-success: #4ea861;
    --color-warning: #d45c5c;
    --color-error: '';
    --color-highlight: '';
    --color-white: #ffffff;

    --gradient-start: '';
    --gradient-end: '';

    --border-primary: #748ef5;
    --border-secondary: #0b0b0b;
    --border-tertiary: #d3d3d3;
    --border-accent: #f2f2f2;
    --border-highlight: '';

    --shadow-dark: '';
    --shadow-light: '';
    --shadow-text: '';

    --padding-small: 1rem;
    --padding-large: 2rem;

    --border-radius-small: 0.3rem;
    --border-radius-large: 0.6rem;
    --highlight-border-radius: 0.5rem;

    --text-selection: '';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: var(--background-accent) no-repeat fixed;
    color: var(--color-secondary);
    font-size: 0.875rem;
    font-family: "Saira", sans-serif;
    line-height: 2rem;
}

h1 { font-weight: 700; }
h2, h3, h4, h5, h6 { font-weight: 500; }

h1 {
  font-size: 3.2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.2rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
  background-color: var(--background-main);
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  border-radius: var(--border-radius-large);
  color: var(--color-secondary);
  margin: -4rem 4vw 2rem 4vw;
  z-index: 1000;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 19vw;
  margin: 0;
  color: var(--color-white);
  width: 100% !important;
  min-height: 80vh;
  overflow: auto;
  background: var(--background-gradient-main);
}

.hero::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(255,255,255,0.05);
  transform: rotate(45deg);
  top: -200px;
  left: -150px;
}

.hero h1 {
  line-height: 3.5rem;
  text-align: center;
}

.hero h3 {
  line-height: 3rem;
}

.hero .benefits-list p {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.6rem;
}

.header {
  position: absolute;
  width: 84vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0 0.5rem !important;
  margin: 1rem 8vw;
  background-color: transparent;
  z-index: 1000;
}

.header .logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.header h1 {
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--color-white);
  padding-left: 1vw;
}

.header p {
  font-size: 0.6rem;
  color: var(--color-white);
  line-height: 0.7rem;
  padding-left: 1vw;
}

.header .user-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-white);
}

.header .user-info .user-email {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5vw;
  background-color: transparent;
  color: var(--color-muted);
}

.footer a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
}

.form-section,
.stats-section,
.history-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  color: var(--color-secondary);
  padding: 2.5rem 4vw;
}

.stats-section {
  position: relative;
  background: var(--background-gradient-main);
  color: var(--color-white);
  padding: 5rem 4vw;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  overflow: hidden;
}

.stats-section::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(255,255,255,0.05);
  transform: rotate(45deg);
  top: -200px;
  left: -150px;
}

.form-section .form-header,
.stats-section .stats-header,
.history-section .history-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-section .coffee-grid,
.stats-section .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
}

.form-section .time-entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  width: 100%;
}

.history-section .coffee-history {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.history-section .coffee-details {
  font-size: 0.9rem;
  padding: 1rem;
  background-color: var(--background-primary);
  border-radius: var(--border-radius-small);
  color: var(--color-white);
  width: 100%;
}

.history-section .coffee-history i {
  font-size: 0.7rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  background: var(--background-main);
  border-radius: var(--border-radius-small);
  padding: 2rem;
  color: var(--color-secondary);
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease;
}

.card::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(116, 142, 245, 0.05);
  transform: rotate(45deg);
  top: -200px;
  right: -350px;
}

.card:hover {
  transform: translateY(-10px);
}

.btn, .btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Saira", sans-serif;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn {
  flex-direction: row;
  padding: 0.54rem 1.2rem;
  border: 1px solid;
  border-radius: var(--border-radius-small);
}

.btn-card {
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
  font-weight: 500;
  text-align: left;
  background: var(--background-accent);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid var(--border-accent);
  border-radius: var(--border-radius-small);
  color: var(--color-muted);
  overflow: hidden;
  z-index: 1;
}

.btn-card:hover {
  background-color: var(--background-primary);
  border-color: var(--border-primary);
  color: var(--color-white);
}

.btn-card-selected {
  background-color: var(--background-primary);
  border-color: var(--border-primary);
  color: var(--color-white);
}

.btn-card-icon {
  font-size: 1rem;
}

.btn-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  font-size: 0.7rem;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: var(--border-primary);
  color: var(--color-primary);
}

.btn-outline-primary:hover {
  background-color: var(--background-primary);
  color: var(--color-white);
}

.btn-outline-accent {
  background-color: transparent;
  border-color: var(--border-accent);
  color: var(--color-accent);
}

.btn-outline-accent:hover {
  background-color: var(--background-accent);
  color: var(--color-primary);
}

.btn-primary {
  background-color: var(--background-primary);
  border-color: var(--border-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-accent {
  background-color: var(--background-accent);
  border-color: var(--border-accent);
  color: var(--color-primary);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Saira", sans-serif;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-rounded-primary {
  background-color: var(--background-accent);
  border-color: var(--border-accent);
  color: var(--color-muted);
  border-radius: 50%;
}

.btn-rounded-primary:hover {
  background-color: var(--background-primary);
  color: var(--color-white);
}

.btn-rounded-primary-selected {
  background-color: var(--background-primary);
  border-color: var(--border-primary);
  color: var(--color-white);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.icon-primary {
  background-color: rgba(15, 56, 127, 0.1);
  color: var(--color-primary);
}

.icon-secondary {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
}

.icon-compliment {
  background-color: rgba(241, 161, 13, 0.1);
  color: var(--color-compliment);
}

.icon-danger {
  background-color: rgba(212, 92, 92, 0.1);
  color: var(--color-warning);
}

.icon-success {
  background-color: rgba(102, 187, 106, 0.1);
  color: var(--color-success);
}

.card-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-small);
  color: var(--color-white);
  overflow: auto;
  z-index: 1;
}

table {
  width: 100% !important;
  border-collapse: collapse;
}

table thead {
  background-color: transparent;
  border-bottom: 1px solid var(--border-accent);
  color: var(--color-white);
}

table thead th {
  font-weight: 500;
  padding: 1rem 1rem !important;
}

table th, table td {
  text-align: left;
  line-height: 1.2rem;
}

table td {
  padding: 1rem;
  background: transparent;
  border-bottom: 1px solid var(--border-tertiary);
  color: var(--color-white);
}

.text-center {
  text-align: center;
  margin-bottom: 1rem;
}

.col-span-2 {
  grid-column: span 2;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stat-text {
  font-size: 2rem;
  font-weight: 700;
}

input, select, textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--background-main);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  font-family: "Saira", sans-serif;
  font-size: 1rem;
  color: var(--color-secondary);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: var(--border-primary);
}

.modal-container {
  width: 90%;
  max-width: 520px;
  background-color: var(--background-main);
  border: 1px solid var(--border-tertiary);
  border-radius: var(--border-radius-small);
  padding: 2rem;
  box-shadow: 0 14px 16px -1px rgba(0,0,0,.1), 0 12px 14px -1px rgba(0,0,0,.06);
}

.modal-underlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: var(--background-main);
}

.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  z-index: 1000;
}

.btn-link {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  margin: 0 0.3rem;
  cursor: pointer;
}

.btn-link-primary {
  color: var(--color-primary);
}

.alert-danger {
  background-color: var(--color-warning);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-small);
  align-self: center;
}

/* tablets */
@media (max-width: 900px) {
  .header {
    width: 92vw;
    margin: 2vw 4vw;
  }

  .form-section .coffee-grid, .stats-section .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* phones */
@media (max-width: 500px) {
  .header {
    width: 100vw;
    padding: 0 4vw !important;
    margin: 0;
    border-radius: 0;
  }
  .form-section .coffee-grid, .stats-section .stats-grid {
    grid-template-columns: 1fr;
  }

  .col-span-2 {
    grid-column: span 1;
  }

  .header .user-info .user-email {
    display: none !important;
  }
}
